<form action="/deleteUser" method="DELETE" class="col-auto shadow p-3 mb-5 bg-light rounded border border-secondary">
    <h2>Eliminar Usuario</h2>
    <label for="Eliminar usuario">Eliminar Usuario</label>
    <select id="delete1">
        {{#each users}}
            <option value="{{this.username}}">{{this.username}}</option>
        {{/each}}
    </select>
</form>

<form action="/deletePuntajes" method="DELETE" class="col-auto shadow p-3 mb-5 bg-light rounded border border-secondary">
    <h2>Eliminar Puntaje</h2>
    <label for="Eliminar puntaje">Eliminar puntaje de: </label>
    <select id="delete2">
        {{#each users}}
            <option value="{{this.username}}">{{this.username}}</option>
        {{/each}}
    </select>
</form>

    <h2>Eliminar Preguntas</h2>
    <label for="Eliminar puntaje">Eliminar preguntas</label>
    <select id="delete3">
        {{#each preguntas}}
            <option value="{{this.id_question}}">{{this.content}}</option>
        {{/each}}
    </select>
    <input type="submit" onclick="deleteQuestion()">



<form action="/addQuestion" method="POST" class="col-auto shadow p-3 mb-5 bg-light rounded border border-secondary">
    <h2>Agregar pregunta</h2>
    <label for="Agregar pregunta">Agregar pregunta</label>
    <input id="newQuestion">
    <label for="Agregar categoria">Agregar categoria</label>
    <select id="addQ">
        <option value="Historia">Historia</option>
        <option value="Arte">Arte</option>
        <option value="Deportes">Deporte</option>
        <option value="Ciencia">Ciencia</option>
        <option value="Entretenimiento">Entretenimiento</option>
    </select>
    <label for="Stellar question">Pregunta estelar</label>
    <select id="addQ2">
        <option value="true">True</option>
        <option value="false">False</option>
    </select>
    
</form>

<form action="/editQuestion" method="PUT" class="col-auto shadow p-3 mb-5 bg-light rounded border border-secondary">
    <h2>Editar pregunta</h2>
    <label for="Editar pregunta">Editar pregunta</label>
    <select id="edit1">
        {{#each preguntas}}
            <option value="{{this.content}}">{{this.content}}</option>
        {{/each}}
    </select>
    <label for="nueva Pregunta">Nueva pregunta</label>
    <input id="editQuestion">
    <label for="categoria">Nueva categoria</label>
    <select id="editQ">
        <option value="Historia">Historia</option>
        <option value="Arte">Arte</option>
        <option value="Deportes">Deporte</option>
        <option value="Ciencia">Ciencia</option>
        <option value="Entretenimiento">Entretenimiento</option>
    </select>
    
</form>

<form action="/addOption" method="POST" class="col-auto shadow p-3 mb-5 bg-light rounded border border-secondary">
    <h2>Añadir opcion a pregunta</h2>
    <label for="Editar pregunta">Añadir opcion a pregunta</label>
    <select id="edit1">
        {{#each preguntas}}
            <option value="{{this.id_question}}">{{this.content}}</option>
        {{/each}}
    </select>
    <input id="editQuestion">
    <input id="editDefinition">
    <label for="Pregunta correcta">¿Es correcta?</label>
    <select id="addOp2">
        <option value="true">True</option>
        <option value="false">False</option>
    </select>
</form>

<form action="/editOption" method="PUT" class="col-auto shadow p-3 mb-5 bg-light rounded border border-secondary">
    <h2>Editar opcion a pregunta</h2>
    <label for="Editar pregunta">Editar opcion a pregunta</label>
    <select id="edit1">
        {{#each preguntas}}
            <option value="{{this.content}}">{{this.content}}</option>
        {{/each}}
    </select>
    <input id="editQuestion">
    <input id="editDefinition">
</form>

<form action="/deleteOption" method="DELETE" class="col-auto shadow p-3 mb-5 bg-light rounded border border-secondary">
    <h2>Eliminar opcion a pregunta</h2>
    <label for="Editar pregunta">Eliminar opcion a pregunta</label>
    <select id="edit1">
        {{#each preguntas}}
            <option value="{{this.content}}">{{this.content}}</option>
        {{/each}}
    </select>
</form>


